<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista produktów</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div style="width: 700px; margin: 50px auto">
  <table>
    <thead>
     <tr>
       <th>nazwa</th>
       <th>cena w pln</th>
       <th>kategoria</th>
     </tr>
    </thead>
    <tbody>
     <tr th:each="product : ${productList}">
      <td th:text="${product.getName()}"></td>
      <td th:text="${product.getPrice()}"></td>
      <td th:text="${product.getCategory().toString().toLowerCase()}"></td>
     </tr>

    </tbody>
  </table>
    <b th:text="|Suma cen: ${#numbers.formatDecimal(priceSum, 0, 'WHITESPACE', 2, 'COMMA')} pln|"></b>
</div>
</body>
</html>